$white: #fff;
$light-yellow: #f7f7f2;


$gold: #b7903c;

// modified after request
// $primary-color: #d2401e;
$primary-color: #333333;
// modified after request

$dark: #303030;
$dark-grey: #5a5a5a;

$red: #c83b1a;

$dark-red: #ab4027;

$grey: #b2b2b2;
$green: #339966;