// heights 
$h-300: 300px;
$h-500: 500px;
$h-600: 600px;
$h-700: 700px;
$h-800: 800px;
$h-900: 900px;
// heights

/* typografy */
// font size
$font-12: 12px;
$font-14: 14px;
$font-16: 16px;
$font-18: 18px;
$font-20: 20px;
$font-25: 25px;
$font-40: 40px;
$font-55: 55px;


// text transform
$text-capitalize: capitalize;
$text-uppercase: uppercase;
/* typografy */