<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<link rel="stylesheet" href="./css/style.css">
    <meta charset="utf-8">
    <title>Layout</title>
  </head>
  <body>

    <div id="app">

			<div class="main-page-container">

				<div class="app-container">

					<aside class="app-sidebar">
						<ul>
							<li>sidebar</li>
							<li>sidebar</li>
							<li>sidebar</li>
							<li>sidebar</li>
							<li>sidebar</li>
							<li>sidebar</li>
						</ul>
					</aside>

					<main class="app-main">
						<ul>
							<li>main</li>
							<li>main</li>
							<li>main</li>
							<li>main</li>
							<li>main</li>
							<li>main</li>
						</ul>

						<div class="app-box-bottom">
							<span>box-bottom</span>
						</div>
					</main>

				</div>


			</div>


		</div>


    <script src="./js/script.js" charset="utf-8"></script>
  </body>
</html>
