* {
  margin: 0 auto;
  padding: 0;
}

.page-container {
  width: 1200px;
}

.top-header-menu {
  height: 30px;
  background-color: #2c2c2c;
  border-bottom: 2px solid black;
  position: relative;
}

.top-header-menu ul {
  margin-left: 10px;
  list-style-type: none;
  line-height: 30px;
  color: white;
}

.top-header-menu ul li {
  display: inline;
  margin-left: 20px;
}

.top-header-menu ul li:hover {
  border-top: 2px solid red;
}

.user-mail span {
  position: absolute;
  line-height: 30px;
  top: 0;
  right: 250px;
  color: white;
}

/* .top-header-menu div span {
  border-right: 1px solid #eee;
} */

.user-notification {
  height: 24px;
  width: 24px;
  background-color: red;
  position: absolute;
  top: 3px;
  right: 200px;
  /* line-height: 30px; */
}

.user-notification img {
  display: block;
  margin-top: 5px;
  height: 14px;
  width: 14px;
}

.user-share-button button {
  height: 24px;
  width: 70px;
  border: none;
  border-radius: 3px;
  position: absolute;
  top: 3px;
  right: 100px;
  background-color: #f5f5f5;
  font-size: 14px;
}

.user-logo {
  height: 28px;
  width: 28px;
  /* background-color: white; */
  position: absolute;
  top: 1px;
  right: 45px;
}

.user-logo img {
  display: block;
  height: 28px;
  width: 28px;
}

.user-settings {
  height: 28px;
  width: 28px;
  /* background-color: white; */
  position: absolute;
  top: 2px;
  right: 1px;
}

.user-settings img {
  display: block;
  height: 26px;
  width: 26px;
}

.bottom-header {
  height: 70px;
  background-color: #f5f5f5;
  border-bottom: 2px solid #ebebeb;
  position: relative;
}

.bottom-header div.gmail-icon {
  height: 70px;
  width: 200px;
  margin-left: 10px;
  /* background-color: #000; */
}

.gmail-icon img {
  height: 40px;
  position: absolute;
  top: 15px;
  left: 40px;
}

input.search-input {
  position: absolute;
  top: 22px;
  left: 250px;
  height: 28px;
  width: 400px;
}

button.top-search {
  position: absolute;
  top: 20px;
  left: 680px;
  height: 36px;
  width: 80px;
  background-color: #468efd;
  border: none;
}

button.top-search img {
  height: 15px;
}

.top-tools {
  height: 70px;
  background-color: white;
  border-bottom: 2px solid #ebebeb;
  position: relative;
}

.top-tools ul {
  /* margin-top: 20px; */
  position: absolute;
  font-size: 25px;
  top: 20px;
  left: 40px;
  list-style-type: none;
}

.top-tools ul li a {
  text-decoration: none;
  color: red;
}

.sidebar .compose-button{
  margin: 10px 0 0 35px;
  width: 130px;
  height: 35px;
  background-color: red;
  color: white;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 2px 2px 4px #2c2c2c;
}

.sidebar .sidebar-menu {
  margin-left: 35px;
}

.sidebar .sidebar-menu ul {
  margin-top: 20px;
  list-style-type: none;
}

.sidebar .sidebar-menu ul > li {
  margin-top: 10px;
}

.sidebar .sidebar-menu ul > li a {
  text-decoration: none;
  color: #000;
}

.sidebar .sidebar-menu ul > li a:hover {
  color: red;
}
