/* UTILITIES */
.d-flex {
	display: flex;
}

.f-wrap {
	flex-wrap: wrap;
}

.content-centered {
	justify-content: center;
	align-items: center;
}

.content-stretch {
	align-items: stretch;
}

.direction-col {
	flex-direction: column;
}