@import "variables";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

ul li {
	margin: 0 10px;
}

.body-container {
	height: 100vh;
	width: 100vw;
	background-color: #4682b4;

	.container {
		height: 100%;                                                                                           
		width: 80%;
		margin: 0 auto;
		background-color: #87ceeb;
		display: flex;
		flex-direction: column;

		.top-header {
			height: 80px;
			// background-color: #d2b48c;
			display: flex;
	
			.top-header-left {
				height: 100%;
				width: 50%;
				background-color: #008080;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 0 20px;
	
				.header-left-menu ul {
					display: flex;
				}
	
			}
	
			.top-header-right {
				height: 100%;
				width: 50%;
				background-color: #d8bfd8;
				display: flex;
				justify-content: flex-end;
				align-items: center;
				padding: 0 20px;
	
				.header-right-menu ul {
					display: flex;
				}
	
			}

		}

		.mid-content {
			height: calc(100% - 160px);
			background-color: #f0aea3;
			display: flex;

			.mid-sidebar {
				height: 100%;
				width: 200px;
				background-color: #c0c0c0;
				display: flex;
				justify-content: center;
			}

			.mid-sidebar ul {
				padding: 20px 0;
			}

			.mid-sidebar ul li {
				margin-top: 10px;
			}

			.main-content {
				width: calc(100% - 200px);
				padding: 20px 20px;

				.paragraphs .first, .paragraphs .second{
					margin-top: 20px;
					font-size: 20px;
					font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
				}

				.first {
					color: #f846bd;
				}

				.second {
					color: #ff6347;
				}

			}

			.main-content h1 {
				color: #ff6347;
			}

			.main-content h2 {
				color: #323ccd;
			}

		}

		.bottom-footer {
			height: 80px;
			background-color: #9acd32;
			display: flex;
			align-items: center;
			justify-content: flex-end;
			padding: 0 20px;
		}
	
	}

}